Source: deepin-os-upgrader
Section: misc
Priority: optional
Maintainer: DEEPIN <deepin@linuxdeepin.com>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: deepin-os-upgrader
Architecture: all
Depends: ${misc:Depends}
Description: Upgrade scripts for Deepin
